.titulo{
    background-color: #008fbb;
    padding: 10px;
    text-align: center;
    color: white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

body {
  overflow-x: hidden;
}

.footer{
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  color:black;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
